body {
  display: flex;
  justify-content: center;
  margin-top:3em;
  background-color: #372D4D;
}

img {width: 150px;}

.robot {
  /* Transforms verändern wie das Objekt aussieht, fügen aber keine Animation hinzu
  *  Die Reihenfolge der transforms ist wichtig, andere Reihenfolge führt zu anderer Erscheinung
  */
  transform: scale(2) translate(10%, 10%) rotate(45deg);
}



















